body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
}

.box-conteiner {
  position: fixed;
  background-color: aliceblue;
  width: 600px;
  height: 400px;
  border-radius: 30px;
  box-shadow: 0 0 10px 5px rgb(57, 54, 54);
}
