* {
  box-sizing: border-box;
} 

body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    display: flex;
    align-content: center;
    justify-content: center;
}

.text {
  font-size: large;
  text-align: center;
}

.box-conteiner {
  position: fixed;
  background-color: rgb(42, 127, 202);
  width: 900px;
  height: 400px;
  border-radius: 30px;
  box-shadow: 0 0 10px 5px rgb(57, 54, 54);
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin: 10px auto;
  height: 65px;
}

.cards li {
  display: block;
  /* float: left; */
}

.card {
  float: left;
  width: 105px;
  height: 70px;
  text-indent: -9999px;
  border-radius: 10px;
}

.visa {
  background-image: url('../img/visa.png');
  background-size: cover;
}

.mastercard {
  background-image: url('../img/mastercard.png');
  background-size: cover;
}

.card.amex {
  background-image: url('../img/americanexpress.png');
  background-size: cover;
}

.card.jcb {
  background-image: url('../img/jcb.png');
  background-size: cover;
}

/* .card.discover {
  background-image: url('../img/discover.png');
  background-size: cover;
} */

/* .card.dinersClub {
  background-image: url('../img/dinersclub.png');
  background-size: cover;
} */

.card.unionPay {
  background-image: url('../img/unionpay.png');
  background-size: cover;
}

.card.mir {
  background-image: url('../img/mir.jpg');
  background-size: cover;
}

.card.maestro {
  background-image: url('../img/maestro.png');
  background-size: cover;
}

ul {
  padding: 0px;
}

.widget-form {
  margin: 30px 30px;
}

.num-card {
  color: aliceblue;
}

.btn {
  background-color: rgb(15, 148, 15);
  border-radius: 10px;
  color: white;
  border: 1px solid black;
  min-height:50px; 
  min-width: 150px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(21, 180, 21);
  transition: 0.8s;
  color: black;
}

.button:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #3a0468;
  transition: 0.8s;
}

.btn:active {
  background-color: #ffbf00;
}

.input {
  border: 1px solid #000;
  border-radius: 15px;
  padding: 13px 5px;
  border-radius: var(--brdRadius);
  flex: 1;
  font-size: 20px;
  width: 600px;
  margin: auto;
}
